# .gitignore
temp.txt
.client
__pycache__/
.venv*
Edge_Video/test_vid/manifest9.ts
Edge_Video/test_vid/manifest8.ts
Edge_Video/test_vid/manifest7.ts
Edge_Video/test_vid/manifest6.ts
Edge_Video/test_vid/manifest5.ts
Edge_Video/test_vid/manifest4.ts
Edge_Video/test_vid/manifest3.ts
Edge_Video/test_vid/manifest2.ts
Edge_Video/test_vid/manifest12.ts
Edge_Video/test_vid/manifest11.ts
Edge_Video/test_vid/manifest10.ts
Edge_Video/test_vid/manifest1.ts
Edge_Video/test_vid/manifest0.ts
Edge_Video/test_vid/manifest.m3u8
Edge_Video/test_vid/video.mp4
